:root {
  --color-primary: #1B263B;
  --color-primary-hover: #2A3D5F;
  --color-accent: #007BFF;
  --color-text: #333333;
  --color-text-secondary: #555555;
  --color-bg: #F7F9FC;
  --color-bg-alt: #F9FAFB;
  --color-danger: #E74C3C;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
  line-height: 1.6;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}


button {
  background-color: var(--color-primary);
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: var(--color-primary-hover);
}

section {
  padding: 4rem 1rem;
  max-width: 1100px;
  margin: auto;
}
